body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.description{
    text-align: center;
    color: white;
    background-image: url(../images/fingers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    border: 10%;
    
}
.finder{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

