* {
  margin: 0;
  padding: 0;
}

body{
  background-color: darkgrey;
  background-image: url("../images/im/l2.jpg");
  background-repeat: no-repeart;
  background-attachment: fixed;
  background-size: cover;
}
/* Style all input fields */
input {
  width: 50%;
  height: 90%;
  padding: 10px;
  border: 1.5px solid purple;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 20%;
  opacity: 0.5;
}

/* bio styling */
.bio {
  border-radius: 14px;
  margin: 25px;
  margin-left: 20%;
  border: 1.5px solid purple;
  opacity: 0.5;
}

/* Style the submit button */
input[type=submit] {
  background-color: black;
  color: red;
  width: 150px;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
	display: block;
  border: 1px solid black;
  border-radius: 14px;
}

input[type=submit]:hover {
  transform: rotate(45deg);
  letter-spacing: 2px;
  opacity: 1;

}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding-top: 50px;
  border-radius: 14px;
  font-size: 25px;
  font-family: 'Snell Roundhand',cursive;
  background-image: url("../images/im/l1.jpg");
  color: black;
  width: 70%;
  margin-top: 35px;
  height: 100%;
  margin-bottom: 35px;
  }

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: ;
  color: black;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Snell Roundhand',cursive;
  border-radius: 14px;
  text-align: center;
  background-color: red;
  opacity: 0.5;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
  color: white;
  text-align: center;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

/* The Cancel btn */
.cancelbtn {
	color: red;
	transition: all 0.5s;
	position: relative;
  z-index: 2;
	display: grid;
	width: 100px;
	height: 40px;
  background-color: black;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 20%;
  opacity: 0.5;
}

.cancelbtn:hover {
transform: rotate(-45deg);
background-color: black;
letter-spacing: 2px;
opacity: 1;
}

/*heading glowtext*/
.glow{
  font-size: 40px;
  color: red;
  text-align: center;
  border-radius: 14px;
  width: 250px;
  height: 120px;
  position: relative;
  margin-left: 34%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#btnToggle {
  display: block;
  margin-left: 20%;
  border-radius: 14px;
  background: red;
}

@media (min-width: 480px) and (max-width: 780px) {
  input {
    width: 60%;
    height: 90%;
    padding: 10px;
    border: 1.5px solid purple;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20%;
  }

  .glow {
    text-align: center;
    border-radius: 14px;
    width: 250px;
    height: 120px;
    position: relative;
    margin-left: 24%;
  }

  .cancelbtn {
    padding-bottom: 14px;
    margin-bottom: 34px;
  }

  .container {
    height: 120%;

  }
}
