body{
    /* background-color:  maroon; */
    background-attachment: scroll;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST9AgpWw7DuqcCSxQQbltI7SkitUH5UvMS_Ol79ut1zFbsIHsA&usqp=CAU");
}
.marquee{
    background-color: white;
    height: 50px;
    font-family: 'Dancing Sgit push cript';
}
.head{
    text-align: center;
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
